params {
  // Mandatory option
  contigs                      = null
  mitogenome                   = null
  reads                        = null

  //optional
  output                  = "mitogenome_extraction_out"
  dbName                  = "blast_database"
  threads                 = 4

  //mitogenome extraction
  min_blast_wordsize      = 11
  max_blast_wordsize      = 25

  //novoplasty
  min_size                = 12000
  max_size                = 22000
  kmer                    = 33
  max_memory              = 6
  read_length             = 151
  insert_size             = 320

}