params {
  // Mandatory options
  contigs                 = null
  mitogenome              = null
  reads                   = null

  // Non-mandatory options
  output                  = "mitogenome-extraction"
  species_id              = null
  help                    = false

  // Mitogenome extraction
  min_blast_wordsize      = 11
  max_blast_wordsize      = 25
  nucleotide_size         = 16500

  // NOVOPlasty settings
  min_size                = 12000
  max_size                = 22000
  kmer_size               = 33
  max_memory              = 6
  read_length             = 151
  insert_size             = 320

  // MITOS settings
  mitos_reference         = "refseq63m"

  // Species identification
  identification_db       = "nereididae_barcodes_2021-12-08.fna"

  // Flow control
  skip_identification     = false

  // Resource allocation (default values only, expected to be overwritten)
  max_retries           = 3
  max_cpus              = 4
  // Memory allocation guide:
  //   B = bytes, KB = kilobytes, MB = megabytes, GB = gigabytes, and
  //   TB = terabytes
  //   Example: 32.GB
  max_memory            = 10.GB

}

process {
  withLabel:process_low {
    //multiply cpu and memory by task attempt (up to 3)
    cpus           = { 4 }
    memory         = { 6.GB }
    errorStrategy  = { 'retry' }
    maxRetries     = params.max_retries
  }
  withLabel:process_medium {
    cpus           = { 4 * task.attempt < params.max_cpus ?
                       4 * task.attempt : params.max_cpus }
    memory         = { 8.GB * task.attempt < params.max_memory ?
                       8.GB * task.attempt : params.max_memory }
    errorStrategy  = { 'retry' }
    maxRetries     = params.max_retries
  }
  withLabel:process_high {
    cpus           = { 4 * task.attempt < params.max_cpus ?
                       4 * task.attempt : params.max_cpus }
    memory         = { 10.GB * task.attempt < params.max_memory ?
                       10.GB * task.attempt : params.max_memory }
    errorStrategy  = { 'retry' }
    maxRetries     = params.max_retries
  }
}
